<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>focus</title>
  <script src="../../../dist/vue.min.js">
  </script>
</head>
<body>
<div id="demo1">
  <input v-model="message" placeholder="edit me">
  <p>Message is: {{ message }}</p>
</div>
<script>
  //    Vue.directive('focus', {
  //      // 当被绑定的元素插入到 DOM 中时……
  //      inserted: function (el) {
  //        // 聚焦元素
  //        el.focus()
  //      }
  //    })
  new Vue({
    el: 'demo1',
    data: {
      message: ''
    }
  })
</script>
<div id="example-4">
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
</div>
<script>
  new Vue({
    el: '#example-4',
    data: {
      picked: ''
    }
  })
</script>
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
  <textarea>{{message}}</textarea>
</div>
<script>
  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 'Hello Vue!'
    }
  })

</script>
</body>
</html>
