<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="components-demo">
  <button-counter></button-counter>
</div>
<script>
  // 定义一个名为 button-counter 的新组件
  Vue.component('button-counter', {
    data: function () {
      return {
        count: 0,
        countB: 0
      }
    },

    methods: {
      cal: function (count, countB) {
        this.count++;
        this.countB--;
      }
    },
    template: '<button v-on:click="cal(count,countB)">You clicked me {{ count }} {{countB}}times.</button>'
    // template: '<button v-on:click="count++;countB--">You clicked me {{ count }} {{countB}}times.</button>'
  })

  new Vue({el: '#components-demo'})

</script>
</body>
</html>
