<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mount</title>
  <script src="../../../dist/vue.min.js">
  </script>
</head>
<body>

<div id="name1"></div>

<template id="children-template">
  <p>{{firstName}} {{lastName}} age {{age}}</p>
</template>

<script>
  var MyComponet = Vue.extend({// 构造器
    data: function () {
      return {
        firstName: 'wuk',
        lastName: 'wuk',
        age: 33
      }
    },
    template: '#children-template'//获取HTML模版
  });
  //第一种写法
//      var app1 = new MyComponet();// 实例化
//      app1.$mount('#name1')  // 挂载到元素上
  //第二种写法
  new MyComponet({el:'#name1'})
</script>
</body>
</html>
