<!DOCTYPE html>
<html>
<title>useScript</title>
<script src="../../../dist/vue.min.js">
</script>
<body>
<div id="app">
  <my-component></my-component>
</div>

 <!--注意：使用<script>标签时，type指定为text/x-template，意在告诉浏览器这不是一段js脚本，浏览器在解析HTML文档时会忽略<script>标签内定义的内容。&ndash;&gt;-->

<script type="text/x-template" id="myComponent">//注意 type 和id。
  <div>This is a component!</div>
</script>
</body>
<script>
  //全局注册组件
  Vue.component('my-component',{
    template: '#myComponent'
  })

  new Vue({
    el: '#app'
  })

</script>
</html>
