<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>useTemplate</title>
</head>
<body>
<div id="app">
  <my-component></my-component>
</div>

<template id="myComponent">
  <div>{{firstName}}</div>
  <div>{{lastName}}</div>
</template>
</body>
<script src="../../../dist/vue.js"></script>
<script>

  Vue.component('my-component',{
    data: function(){
      return {
        firstName: 'first name',
        lastName: 'last name',
        age: 33
      }
    },
    template: '#myComponent'
  })

  new Vue({
    el: '#app',
  })

</script>
</html>
