<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>通过 Prop 向子组件传递数据</title>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
  <blog-post title="My journey with Vue"></blog-post>
  <blog-post title="Blogging with Vue"></blog-post>
  <blog-post title="Why Vue is so fun"></blog-post>
</div>

<script>
  Vue.component('blog-post', {
    props: ['title'],
    template: '<h3>{{ title }}</h3>'
  })
  // 创建根实例
  new Vue({
    el: '#app'
  })
</script>
</body>
</html>
