<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
    <script src="../../dist/vue.min.js">
    </script>
</head>
<body>

<div id="user_name_03"></div>

<template id="children-template">
    <p>{{firstName}} {{lastName}} age {{age}}</p>
</template>

<script>
    var User_03 = Vue.extend({// 构造器
        data: function(){
            return {
                firstName: 'yuxie',
                lastName: 'weiliang',
                age: 33
            }
        },
        template: '#children-template'//获取HTML模版
    });
    var user_03 = new User_03();// 实例化
    user_03.$mount('#user_name_03')  // 挂载到元素上
</script>




<div>
    <div id="todo-list-example">
        <input
                v-model="newTodoText"
                v-on:keyup.enter="addNewTodo"
                placeholder="Add a todo"
        >
        <ul>
            <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>
    <script>
        Vue.component('todo-item', {
            template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
  ',
            props: ['title']
        })
        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })
    </script>
</div>
</body>
</html>
